<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Select Game Mode</ion-label>
      <ion-select [(ngModel)]="gameMode" (ngModelChange)="changeGameMode()" cancelText="Cancel" okText="Ok">
        <ion-option value="base" selected="true">Cyclades Base</ion-option>
        <ion-option value="hades">Cyclades Hades</ion-option>
        <ion-option value="titans">Cyclades Titans</ion-option>
        <ion-option value="all">All expansions</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Number of Players</ion-label>
      <ion-select [(ngModel)]="numberOfPlayers" (ngModelChange)="changeNumberOfPlayers()" cancelText="Cancel" okText="Ok">
        <ion-option *ngIf="gameMode != 'titans' && gameMode != 'all'" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option *ngIf="gameMode === 'titans' || gameMode === 'all'" value="6">6</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="gameMode === 'hades' || gameMode === 'all'">
      <ion-label>Favores Divinos</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="divineFavors"></ion-checkbox>
    </ion-item>
    <small *ngIf="gameMode === 'hades' || gameMode === 'all'">
      Activa el módulo #4 de la expansión de Hades: Favores Divinos
    </small>

  </ion-list>
  <button (click)="playGame()" ion-button secondary>Play game!</button>
</ion-content>