<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="startedGame">
    <div class="gods" *ngFor="let god of selectedGods">
      <img src="{{ god.image }}" alt="{{ god.name }} - image">
    </div>
    <button (click)="shuffle()" ion-button secondary>Shuffle</button>
  </div>
  <button *ngIf="!startedGame" (click)="startGame()" ion-button secondary>Start Game!</button>
  <button *ngIf="startedGame" (click)="finishGame()" ion-button secondary>Finish Game</button>
  <button (click)="prueba()" ion-button secondary>Prueba</button>
</ion-content>