<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <span>Amenaza: {{ hadesThreat }}</span>
    <span>Turno: {{ turnNumber }}</span>
  </div>
  <div *ngIf="startedGame">
    <div>
      <div class="gods" *ngFor="let god of selectedGods">
        <img src="{{ god.image }}" alt="{{ god.name }} - image">
      </div>
      <div class="gods" *ngIf="selectedSecondaryGod">
        <img src="{{ selectedSecondaryGod.image }}" alt="{{ selectedSecondaryGod.name }} - image">
      </div>
    </div>
    <button (click)="shuffle()" ion-button secondary>Shuffle</button>
  </div>
  <button *ngIf="!startedGame" (click)="startGame()" ion-button secondary>Start Game!</button>
  <button *ngIf="startedGame" (click)="finishGame()" ion-button secondary>Finish Game</button>
</ion-content>